@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
:root {
    --bg1: #151627;
    --bg2: #1d1e31;

    --color1: #70e000;
}

::-webkit-scrollbar {
    width: 10px;
  
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background: var(--color1);
   
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 100px;
}

body {
    background-color: var(--bg1);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.title {
    color: var(--color1);
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.title::after {
    content: "";
    height: 2px;
    width: 50px;
    margin: 0 auto;
    background: #fff;
}

.homeSection {
    height: 100vh;
}

.homeSection header {
    padding: 0px 20px;
    position: fixed;
    background: var(--bg1);
    width: 100%;
    z-index: 1;
}

.homeSection header nav {
    max-width: 1200px;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    animation: fade 1s ease-in forwards;
}

.homeSection header nav button {
    display: none;
}
.homeSection .menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.homeSection .menu a {
    color: rgb(182, 182, 182);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    position: relative;
}

.homeSection .menu a:hover {
    transition: 0.3s;
    color: #fff;
}

.homeSection .menu a::after {
    content: "";
    width: 0%;
    height: 1px;
    background: var(--color1);
    transition: 0.3s;
}

.homeSection .menu a:hover::after {
    width: 100%;
}

.closeIcon {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo {
        height: 40px;
    }
    .homeSection header {
        align-items: initial;
        padding: initial;
        height: 100px;
    }

    .menu-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }

    .menuOpen {
        transform: rotate(0deg);
        transition: 0.8s all;
    }

    .menuOpen.open {
        transition: 0.8s all;
        transform: rotate(180deg);
    }

    .menuOpen.open .closeIcon {
        transition: 0.8s all;
        transform: scale(1);
        display: block;
    }

    .menuOpen.open path {
        display: none;
    }

    .closeIcon {
        display: none;
    }

    .homeSection header nav {
        overflow: hidden;
        align-items: initial;
        margin-top: 10px;
        padding: 10px 0px;
        width: 100%;
        flex-direction: column;
        justify-content: initial;
    }
    .homeSection header nav button {
        display: block;
        height: 30px;
        border: none;
        background: var(--bg1);
    }

    .homeSection .menu {
        border: blue;
        display: none;
        gap: 0px;
        background-color: var(--bg1);
        
    }

    .homeSection .menu.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        animation: right 0.8s ease-out forwards;
        z-index: 1;
    }

    @keyframes right {
        from {
            opacity: 0;
            transition: transform ;
            transform: translateX(150px);

        }
        to {
            opacity: 1;
            transform: initial;
        }
    }

    .homeSection .menu li {
        width: 100%;
        border-bottom: 1px solid #383b4b;
    }

    .homeSection .menu li:hover {
        background: #383b4b;
    }
    .homeSection .menu a {
        padding: 25px 0px;
        color: rgb(182, 182, 182);
        height: 40px;
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homeSection .menu a:hover::after {
        width: initial;
    }
}

/*HOME*/

.home {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.home-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 20px 0px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.home h1 {
    color: var(--color1);
    font-size: 3rem;
    animation: rotate 0.8s infinite;
}

.home p {
    color: #fff;
    font-size: 1.3rem;
    max-width: 500px;
}

.home .txt {
    animation: fade 1s ease-in-out forwards;
}

.home .txt a {
    margin-top: 50px;
    color: rgb(199, 199, 199);
    font-size: 1.2rem;
    border: 1px solid #4c9700;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt a:hover {
    background-color: #1a1c25;
    color: rgb(255, 255, 255);
    border: 1px solid var(--color1);
}

.home-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-content ul svg:hover path {
    fill-opacity: 1;
    fill: #6f8191;
}

.detalhe1 {
    max-width: 200px;
    height: 200px;
    position: absolute;
    top: -80px;
    animation: fade 1s ease-in-out forwards;
}

.detalhe {
    max-width: 400px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: fade 0.8s ease-in-out forwards;
}

@media screen and (max-width: 768px) {
    .home-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .home-content ul {
        display: none;
    }

    .home h1 {
        font-size: 1.7rem;
    }

    .home p {
        font-size: 1.2rem;
    }

    .detalhe1 {
        max-width: 100px;
        height: 120px;
        position: absolute;
        top: -40px;
    }

    .detalhe {
        max-width: 400px;
        height: 150px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .homeSection header {
        padding: initial;
    }

    .menu-mobile {
        padding: 20px 20px;
    }
    .home h1 {
        color: var(--color1);
        font-size: 1.5rem;
    }

    .home p {
        color: #fff;
        font-size: 1rem;
    }

    .detalhe1 {
        max-width: 100px;
        height: 100px;
        position: absolute;
        top: -40px;
    }

    .detalhe {
        max-width: 400px;
        height: 100px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

/*ABOUT*/
.about {
    background: var(--bg2);
    color: rgb(235, 235, 235);
    padding: 30px 40px;
}

.info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 900px;
    margin: 50px auto 0px;
    gap: 50px;
}

.txt-about p {
    font-size: 1rem;
}

.txt-about span {
    color: #4c9700;
}

.info img {
    transform: initial;
    animation: upDown 1s ease-in-out infinite  alternate;
}



.tech-tools {
    padding-top: 40px;
}

.tech-tools h3 {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
}

.tech-tools h3::after {
    content: url("../assets/images/tools.svg");

    position: absolute;
}

.tech-tools ul {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    animation: animeOpacity 2.5s ease-in-out infinite  alternate;
    
}

@media screen and (max-width: 768px) {
    .info {
        grid-template-columns: 1fr;
    }

    .info img {
        display: none;
    }
}

/*Portfolio*/
.portfolio {
    padding: 50px 40px;
}
.cards-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.card {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
}

.cards-content .card:nth-child(1) {
    grid-template-columns: 1.5fr 1fr;
}

.cards-content .card:nth-child(2) {
    grid-template-columns: 1fr 1.5fr;
}

.cards-content .card:nth-child(3) {
    grid-template-columns: 1.5fr 1fr;
}

.card h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card-txt {
    color: #fff;
    background: linear-gradient(
        180deg,
        #1e2227,
        #1c2027,
        #1a1f27,
        #181d28,
        #171b25,
        #161a28,
        #151827,
        #151627
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 40px;
    gap: 20px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #1d311e;
}
.card-txt p {
    height: 80px;
}
.card-txt p span {
    font-style: italic;
    color: #9dadbb;
}

.btns {
    display: flex;
    gap: 30px;
}

.card-txt a {
    padding: 5px 20px;
    border: 1px solid red;
    border-radius: 5px;
}

.card-txt a:hover {
    background: #303030;
}

.btns a:nth-child(1) {
    border: 1px solid white;
    color: #fff;
}

.btns a:nth-child(2) {
    border: 1px solid var(--color1);
    color: var(--color1);
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 50px 20px;
    }
    .card img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-txt {
        position: initial;
        top: 0px;
        z-index: initial;
        padding: 20px;
    }
    .cards-content .card:nth-child(1) {
        grid-template-columns: 1fr;
    }

    .cards-content .card:nth-child(2) {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .cards-content .card:nth-child(3) {
        grid-template-columns: 1fr;
    }

    .cards-content .card:nth-child(4) {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }
}

footer {
    background: var(--bg2);
    padding: 20px;
}

footer ul {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

footer ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(133, 133, 133);
}

footer ul li a svg hover {
    color: #fff;
}

footer ul li a:hover {
    color: #fff;
}

/*animation*/
@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: initial;
    }
}


@keyframes upDown {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

@keyframes animeOpacity {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}