

:root {
  /* --color-primary: #ec6990;
  --bg-color: #1e2a47; */
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#arrow-left {
  transform: translateX(26px);
  animation: arrowLeft 1.5s linear infinite alternate;
}

#arrow-right {
  transform: translateX(-26px);
  animation: arrowRight 1.5s linear infinite alternate;
}

@keyframes arrowLeft {
  from {
    transform: translateX(26px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes arrowRight {
  from {
    transform: translateX(-26px);
  }

  to {
    transform: translateX(0px);
  }
}

.detail::after {
  content: url("./imgs/detail-title.svg");
  position: relative;
  bottom: 10px;
}
