
:root{
    --colo1:#d90dc2;
    --colo2:#151627;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #121422;
}

::-webkit-scrollbar-thumb {
    background: var(--color1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 100px;
}

body{
    font-family: "Poppins", sans-serif;
    background: #1D1B22;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
}

#logo{
    display: block;
    margin: 0 auto;
    padding: 23px 20px 0px;
}


.home-container{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 31%, rgba(60,56,91,1) 100%);
    position: relative;
}   

.detalhe-onda{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#detalhe-left-home{
    position: absolute;
    z-index: 99;
    left: calc(20% - 25px);
    bottom: -1px;
}

#detalhe-right-home{
    position: absolute;
    z-index: 99;
    right: calc(20% - 25px);
    bottom: 10px;
}


.home{
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px 60px;
    border-radius: 10px;
    position: relative;
}


.home h1 {
  color: #fff;
  max-width: 800px;
  text-align: center;
  margin: 0 auto 60px;
  font-weight: normal;
}

.home h1 strong {
    background: linear-gradient(to right, #FE57EB, #af28fd, #e40dc7);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:txt-anime 5s ease-in-out infinite;
    transition: color 1s ease-in-out;
}

@keyframes txt-anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.card-sobre{
    background: #29273F;
    color: #fff;
    padding: 40px 40px;
    border-radius: 8px;
}

.txt-sobre h2{
    font-family: "Rancho", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 20px;
}

.txt-sobre p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.txt-sobre p span{
    color: var(--colo1);
    font-weight: 500;
}

.btn-cv{
    background: #f741e1;
    color: #ffff;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.8s ease;
}

.btn-cv:hover{
    transition: 0.8s ease;
    background: #bb1ca9;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

main .tab{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c0c0c0;
  max-width: 800px;
  margin: 0 auto;
}

main .tab button{
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #dddddd;
}

main button.active{
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
}

main button.active::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
}


.projetos-container{
    margin-top: 50px;
}

.card-projeto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
}

.card-projeto:nth-child(odd){
    flex-direction: row-reverse;
}

#uiux .card-projeto{
    background-color: #ffd9f1;
}


.img-card-projeto{
  flex: 1;
}

.card-projeto img{
    max-width: 100%;
    width: 100%;
    min-width: 300px;
    border-radius: 8px;

}

.card-txt {
    width:50px;
    min-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-projeto{
    font-size: 23px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title-projeto:after {
    content: '';
    display: block;
    width: 0%;
    height: 2.5px;
    background: var(--colo1);
    animation: lineAnime 8s infinite ease-in-out;
}

@keyframes lineAnime {
    0% {
        width: 20%;
    }
    50% {
        width: 80%;
    }
    100% {
        width: 20%;
    }
}

.card-txt ul{
    display: flex;
    gap: 10px;
}

.card-txt ul li{
    background: var(--colo1);
    color: #fff;
    padding: 3px 5px;
    font-size: 13px;
    border-radius: 50px;
}


.card-projeto a{
    background: var(--colo1);
    color: #fff;
    width: 100px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;

}

.card-projeto a:hover{
    background: #2b0e6c;
    transition: 0.3s ease;
}



/***/
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #151627;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

#backToTopBtn:hover {
    background-color:  #141414;
    transition: 0.3s ease-in;
}


footer{
    position: relative;
    background:rgba(60,56,91,1);
    margin-top: 50px;
}

.detalhe-onda-footer{
    width: 100%;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
}

footer div{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 20px;
    position: relative;
    top: -5px;
}

footer div a{
    width: 40px;
    height: 40px;
    background: #2b0e6c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: 0.3s ease-in;
}

.btn-linkedin{
    background: #0954C0;
}
.btn-github{
    background: #633BBC;
}
.btn-youtube{
    background: #F02B2B;
}

footer div a:hover{
    filter: brightness(0.8);
    transition: 0.3s ease-in;
}

@media screen and (max-width:375px) {
    /* .card-projeto{
        flex-direction: column;
    } */

    .card-txt{
        min-width: initial;
    }
    
}