 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 :root {
   --colo1: #EC6990;
   --colo2: #151627;
 }

 body {
   font-family: "Poppins", sans-serif;
   background: #29273F;
 }

 a {
   text-decoration: none;
 }

 ul {
   list-style: none;
 }

 main {
   background-image: url('bg-home.png');
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   padding: 50px;
 }

 header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
 }

 #arrow-left {
   transform: translateX(26px);
   animation: arrowLeft 1.5s linear infinite alternate;
 }

 #arrow-right {
   transform: translateX(-26px);
   animation: arrowRight 1.5s linear infinite alternate;
 }

 @keyframes arrowLeft {
   from {
     transform: translateX(26px);
   }

   to {
     transform: translateX(0px);
   }
 }

 @keyframes arrowRight {
   from {
     transform: translateX(-26px);
   }

   to {
     transform: translateX(0px);
   }
 }

 .info {
   max-width: 800px;
   margin: 0 auto;
   display: flex;
   gap: 32px;
   padding: 20px;
 }

 .img-perfil {
   width: 122px;
   height: 122px;
   border-radius: 360px;
 }

 @media screen and (max-width: 600px) {
   .img-perfil {
     display: none;
   }
 }

 .title-info {
   display: flex;
   justify-content: space-between;
 }

 .title-info h1 {
   display: flex;
   flex-direction: column;
   color: #fff;
   font-weight: normal;
   gap: 8px;
 }

 .title-info h1 span {
   font-size: 18px;
   font-weight: normal;
   color: var(--colo1);
 }

 .title-info a {
   color: #fff;
   display: flex;
   gap: 10px;
   height: max-content;
   padding: 10px;
   transition: 0.5s ease-out;
   border: 1px solid #333550;
   border-radius: 4px;
 }

 .description_info {
   color: #ced4e1;
   font-size: 18px;
   font-weight: normal;
   margin-top: 25px;
 }

 .description_info p {
   line-height: 2;
 }

 .links-info {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 16px;
   margin-top: 20px;
 }

 .links-info a {
   color: #fff;
   display: flex;
   align-items: center;
   margin: 0px;
   border: 1px solid #333550;
   gap: 10px;
   padding: 5px 10px;
   border-radius: 4px;
   transition: 0.5s ease-in-out
 }

 .title-info a:hover,
 .links-info a:hover {
   border: 1px solid #EC6990;
   transition: 0.5s ease-in-out
 }

 .title-info a svg path,
 .links-info a svg path {
   fill: #EC6990;
   transition: 0.5s ease-out
 }

 .projects-section {
   max-width: 1200px;
   padding: 20px;
   margin: 0 auto;
 }

 .projects-section .title {
   text-align: center;
   margin: 20px;
   color: #fff;
 }

 .projects-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   gap: 20px;
   margin-top: 40px;
 }

 .project {
   width: 100%;
   border: 1px solid #898989;
   display: block;
   padding: 20px;
   border-radius: 8px;
   position: relative;
   transition: 0.5s ease-in-out;
 }

 a.project:hover {
   transition: 0.5s ease-in-out;
   background: #222033;
   border: 1px solid #ffffff;
 }

 a.project svg path {
   transition: 0.5s ease-in-out;
 }

 a.project:hover svg path {
   fill: #fff;
   transition: 0.5s ease-in-out;
 }

 #link-icon {
   position: absolute;
   right: 20px;
 }

 .project h3 {
   color: #5596dd;
   font-weight: 400;
   margin-bottom: 10px;
 }

 .project p {
   color: #e2e2e2;
   line-height: 1.5;
 }

 .project ul {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 15px;
   margin-top: 10px;
 }

 .project ul li {
   display: flex;
   align-items: center;
   gap: 5px;
   color: #fff;
   font-size: 14px;
 }

 .project ul span {
   width: 10px;
   height: 10px;
   border-radius: 360px;
   background: var(--colo1);
 }

 @media screen and (max-width: 600px) {
   main {
     padding: 50px 20px;
   }

   .projects-container {
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }

   .projects-section {
     padding: 20px 10px;
   }
 }

 @media screen and (max-width: 400px) {
   .title-info a {
     min-width: 140px;
     font-size: 14px;
   }
 }